.App {
  font-family: Courier New, Courier, monospace;
  text-align: center;
}

.App-header {
  background-color: #0688fa;
  height: 70px;
  padding: 20px;
  color: white;
}

.App-header > small > a {
  color: white;
  text-decoration: none;
}

.App-header > small > a:hover {
  color: cyan;
  text-decoration: underline;
}

.gameboard {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 50px;
  margin-bottom: 0;
  flex-wrap: wrap;
}

.player {
  display: flex;
  flex-direction: column;
  min-width: 500px;
}

.cards {
  display: flex;
  flex-direction: row;
}

.deck-container {
  display: flex;
  flex-direction: row;
}

.peek {
  width: 50px;
}

.right > .cards,
.right > .cards > .deck-container {
  flex-direction: row-reverse;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.3em;
  height: 4.6em;
  border: 1px solid #666;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  padding: 0.25em;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  font-size: 3.2em; /* @change: adjust this value to make bigger or smaller cards */
  font-weight: normal;
  font-family: Arial, sans-serif;
  position: relative;
  background-color: #fff;
}

.card::before {
  position: absolute;
  top: 10px;
  left: 10px;
}

.card::after {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.heart,
.diamond {
  color: #f45042;
}
.heart::before,
div.heart::after {
  content: "♥";
}

.diamond::before,
div.diamond::after {
  content: "♦";
}

.spade,
div.club {
  color: #1d1e30;
}

.spade::before,
div.spade::after {
  content: "♠";
}

.club::before,
div.club::after {
  content: "♣";
}

.deck {
  display: inline-block;
  width: 3.3em;
  height: 4.6em;
  border: 1px solid #666;
  border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -webkit-border-radius: 0.3em;
  -khtml-border-radius: 0.3em;
  padding: 0.25em;
  margin: 0 0.5em 0.5em 0;
  text-align: center;
  font-size: 3.2em; /* @change: adjust this value to make bigger or smaller cards */
  position: relative;
  background: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/47/Eaton_Speedwell_Model_Bicycle%2C_1917.png/258px-Eaton_Speedwell_Model_Bicycle%2C_1917.png");
  background-size: contain;
  -moz-box-shadow: 0.2em 0.2em 0.5em #333;
  -webkit-box-shadow: 0.2em 0.2em 0.5em #333;
  box-shadow: 0.2em 0.2em 0.5em #333;
  cursor: pointer;
}

.warning {
  color: #e45042;
}

.danger {
  color: #d40404;
}

button {
  box-shadow: inset 0px -3px 7px 0px #2b8aff;
  background-color: #0688fa;
  border-radius: 6px;
  border: 1px solid #0b0e07;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Courier New, Courier, monospace;
  padding: 4px 16px;
  margin: 8px;
  text-decoration: none;
}

button:hover {
  background-color: #2e78f7;
}

button:active {
  position: relative;
  top: 1px;
}
